body {
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
    height: 100vh; /* full height of the viewport */
    margin: 0;
}

#contentWrapper {
    font-family: 'Courier New', Courier, monospace;
    height: 430px;
    margin: 0;
    padding: 8px;
    position: relative;
    width: 800px;
}

#flipIt {
    display: none;
    position: absolute;
    top: 200px;
    left: 60px;
    color: #337;
    font-size: 3em;
    font-weight: bold;
    text-shadow: -2px 0 #aae, 0 2px #aae, 2px 0 #aae, 0 -2px #aae;
    transform: skewX(-20deg) rotate(-30deg);
    width: 700px;
    white-space: nowrap;
}

@media screen and (max-width: 600px) and (orientation: portrait) {
    #flipIt {
        display: block;
    }
}

#header {
    float: none;
    width: 784px;
}

/* other styles remain the same */

div {
    float: left;
}

h1 {
    float: left;
    font-family: "Ultra", serif;
    font-weight: 400;
    font-style: normal;
}

div.open {
    font-weight: bold;
}

.notesInChord {
    display: none; /* turns key invisible */
    clear: left;
    float: left;
    height: 1em;
    left: 50%;
    list-style-type: none;
    padding-inline-start: 0;
}

.notesInChord li {
    border: 1px solid #fff;
    float: left;
    padding: 5px;
    height: 40px;
    width: 40px;
}

.notesInChord li div, td.inChord div {
    background-color: white;
    border-radius: 15px;
    height: 30px;
    line-height: 28px;
    margin-top: 5px;
    margin-left: 5px;
    text-align: center;
    width: 30px;
}

.tuningSelector, .chordShapeSelector, .rootNoteSelector {
    margin-left: 30px;
    margin-top: 20px;
}

#resetButton {
    margin-left: 30px;
    margin-top: 36px;
}

#fretboard {
    margin-top: 25px;
}

#fretboard td {
    border: 1px solid #fff;
    border-right: 1px solid #000;
    height: 40px;
    width: 40px;
}

#fretboard td:first-of-type {
    border-right: none;
}

#fretboard td div {
    clear: none;
    float: left;
}



  