body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0 auto;
    padding: 20px;
    width: 800px;
}

div {
    clear: left;
    float: left;
}

h1 {
    font-family: "Ultra", serif;
    font-weight: 400;
    font-style: normal;
}

span.open {
    font-weight: bold;
}

.notesInChord {
    clear: left;
    float: left;
    height: 1em;
    left: 50%;
    list-style-type: none;
    padding-inline-start: 0;
}

.notesInChord li {
    border: 1px solid #fff;
    float: left;
    padding: 5px;
    height: 40px;
    width: 40px;
}

.notesInChord li div {
    background-color: white;
    border-radius: 15px;
    height: 30px;
    line-height: 28px;
    margin-top: 5px;
    margin-left: 5px;
    text-align: center;
    width: 30px;
}


.tuningSelector {
    clear: left;
    margin-top: 10px
}

#fretboard td {
    border: 1px solid #fff;
    border-right: 1px solid #000;
    height: 20px;
    width: 20px;
}

#fretboard td:first-of-type {
    border-right: none;
}



  